<div class="col-xs-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Available statements</h3>
    </div>
    <div class="panel-body">
      <table id="account-statements" class="table table-striped">
        <thead>
        <tr>
          <th>Year</th>
          <th>Month</th>
          <th>Last fetched</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @account.statements.sort_by {|stmt| [stmt.year, stmt.month] }.reverse.each do |statement| %>
            <tr>
              <td>
                <%= statement.year %>
              </td>
              <td>
                <%= Date::MONTHNAMES[statement.month] %>
              </td>
              <%= raw fetch_date_td_tag(statement) %>
              <td>
                <%= link_to user_account_statement_path(@user, @account, statement) do %>
                    <i class="fa fa-search"></i>
                <% end %>
              </td>
              <td>
                <%= link_to sync_user_account_statement_path(@user, @account, statement), method: :post do %>
                    <i class="fa fa-refresh"></i>
                <% end %>
              </td>
              <td>
                <%= link_to user_account_statement_path(@user, @account, statement, format: :ofx) do %>
                    <i class="fa fa-file-text-o"></i>
                <% end %>
              </td>
              <td>
                <%= link_to [@user, @account, statement], method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
